
#content1{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 510px;
    width: 700px;

}
#content{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 570px;
    width: 700px;
}
    #head-text{
        margin: 1rem;
    }
        #head-text p{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            color: #fff;
            margin: 0px;
        }
    #text{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        margin: 1rem;
    }
        #text p{

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: #fff;
            margin: 0px;
        }
    #acheiv-img1{
        display: flex;
        justify-content: center;
        align-items: center;

    }
        #acheiv-img1 img{
            height: 300px;
            width: 600px;
        }
    #acheiv-img2{
        display: flex;
        justify-content: center;
        align-items: center;

    }
        #acheiv-img2 img{
            height: 200px;
            width: 600px;
        }
    #acheiv-img3{
        display: flex;
        justify-content: center;
        align-items: center;

    }
        #acheiv-img3 img{
            height: 400px;
            width: 400px;
        }