
#container-icon{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}
    #icon-in{
        display: flex;
        justify-content: center;
        align-items: center;
    }   
        #icon-in img{
            height: 100px;
            width: 100px;
        }
        #text-in{
            display: flex;
            justify-content: center;
            align-items: center;
        }
            #text-in p{
                margin-top: 5px;
                text-align: center;
                font-size: 18px;
                color: #007ACC;
            }

        #icon-in2{
            display: flex;
            justify-content: center;
            align-items: center;
        }   
            #icon-in2 img{
                height: 70px;
                width: 150px;
            }
