
#acheiv-part{

    width: auto;
    height: 1990px;
}
    #acheiv-text-head{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: #007ACC;
    }
    #acheiv-content{

        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;   
    }
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
        .content a{
            width: 150px;
            height: 30px;
            background-color: white;
            color: #1E1E1E;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-decoration: none;
            border-radius: 15px;
            transition: 0.5s;
        }
        .content a:hover{
            background-color: #1E1E1E;
            color: #fff;
            border: 1px solid #fff;
        }

    #gitac{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    #gitac a{
        width: 350px;
        height: 30px;
        background-color: #fff;
        color: #1E1E1E;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        border-radius: 15px;
        transition: 0.5s;
    }
    #gitac a:hover{
        background-color: #1E1E1E;
        color: #fff;
        padding: 2px 10px;
        border: 2px solid #fff;
    }
    #gitac img{
        transition: 0.5s;
        height: 25px;
        width: 30px;
        margin-left: 10px;
    }
