
#acheiv-part{

    width: auto;
    height: 1990px;
}
    #acheiv-text-head{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: #007ACC;
    }
    #acheiv-content{

        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;   
    }
        #soudemy{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
        #soudemy a{
            width: 150px;
            height: 30px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-decoration: none;
            border-radius: 15px;
        }
        #uifry{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
        #uifry a{
            width: 150px;
            height: 30px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-decoration: none;
            border-radius: 15px;
        }
        #hack{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
        #hack a{
            width: 150px;
            height: 30px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-decoration: none;
            border-radius: 15px;
        }