#nav{
    background: rgb(139,188,230);
    background: linear-gradient(90deg, rgba(139,188,230,1) 0%, rgba(74,161,212,1) 5%, rgba(30,30,30,1) 62%);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: 60px;
    font-family: 'Karla', sans-serif;
    padding-right: 2rem;
    z-index: 1;

}

#list-menu{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 2rem;
}
    #list-menu a{
        color: #fff;
        text-decoration: none;
        font-size: 18px;   
        transition: 0.5s;
    }   
        #list-menu a:hover{
            color: #007ACC;
        }