#perso-part{
    font-family: 'Karla', sans-serif;
}
.perso-text-head [data-scroll='out'] .char {
    visibility: hidden;
  }
  .perso-text-head [data-scroll='in'] {
    overflow: hidden;
    position: relative;
  }
  .perso-text-head [data-scroll='in'] .char {
    transition-delay: 0.5s;
  }
  .perso-text-head [data-scroll='in']:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    -webkit-animation: block 0.5s 0.25s both;
            animation: block 0.5s 0.25s both;
  }
  @-webkit-keyframes block {
    0% {
      -webkit-transform: translate(-110%, 0);
              transform: translate(-110%, 0);
    }
    45%, 55% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(110%, 0);
              transform: translate(110%, 0);
    }
  }
  @keyframes block {
    0% {
      -webkit-transform: translate(-110%, 0);
              transform: translate(-110%, 0);
    }
    45%, 55% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(110%, 0);
              transform: translate(110%, 0);
    }
  }
    #perso-text-head{


    }
        #perso-text-head p{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            color: #007ACC;
        }
    #text-info{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #439AD0;
        height: 320px;
        border-radius: 20px;
    }

        #text-info p{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: 100;
            font-size: 24px;
        }
